body {
	font-family: 'Lato', sans-serif;
	overflow: auto;
	background: #e2e1e3;
}

#root {
	display: flex;
	justify-content: center;
}

.App {
	text-align: justify;
	max-width: 850px;
}

h1 {
	font-size: 20px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.foobar {
	font-size: 55px;
	font-family: monospace;
}

form {
	width: 70%;
	display: flex;
	flex-direction: column;
	margin: auto;
}

.text-container {
	display: flex;
	width: 100%;
}
.text-for-container {
	margin: auto;
}

.select-file-btn {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 5px;

	margin: 20px auto;

	font-weight: 700;
	font-size: 18px;
	font-family: monospace;

	transition: 0.3s;
	border-radius: 20px;

	width: 200px;
	height: 80px;

	background: #e2e1e3;
	box-shadow: 6px 9px 17px #c0bfc1, -6px -9px 17px 0px #ffffff;
}

.select-file-btn:hover {
	background: linear-gradient(145deg, #cbcbcc, #f2f1f3);
	color: #000;
}

.select-file-btn:active {
	box-shadow: inset 10px 30px 41px #c0bfc1, inset -10px -30px 41px #ffffff;
}

.all-text-container {
	padding: 20px;
}

.span-word-fact {
	font-weight: 700;
}

.show-word-facts {
	display: block;
	margin-bottom: 20px;
	text-align: center;
	font-size: 20px;
}

.hide-word-facts {
	display: none;
}

@media (min-width: 668px) {
	h1 {
		font-size: 32px;
	}

	.foobar {
		font-size: 65px;
	}

	.select-file-btn {
		width: 300px;
		height: 100px;
		font-size: 25px;

		box-shadow: 10px 30px 41px #c0bfc1, -10px -30px 41px #ffffff;
	}
}

@media (min-width: 1024px) {
	.foobar {
		font-size: 75px;
	}
}
